#nav{
    background-color: #2C3E50;
    height: 35px;
    font-size: 25px;
    font-weight:bold;
    font-family: Ariel, Tahoma;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    }
    #nav ul{
    padding: 0;
    margin: 10;
    list-style-type: none;
    text-align: center;
    }
    #nav li{
    display: inline;
    padding: 5px;
    vertical-align: middle;
    }
    #nav a{
    text-decoration: none;
    padding: 8px 8px 8px 12px;
    color: #FA9637;
    vertical-align: middle;
    }
    #nav a:hover{
    color: #2C3E50;
    background-color: #FA9637;
    
}
body {
    margin: 0;
    background-color: #2C2C2C;
}    
